{% load static %}
<html lang="en">
<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/room.css' %}">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">            
  
</head>

<body>

  
    
    <div class="header">
      <div class="header__controller">
        <div class="shop_info">
          <!-- <span class="iconify" data-icon="fa-solid:couch" data-flip="horizontal" 
          style="font-size:56px;" color="white"></span> -->
          <i class='fas fa-couch' style="font-size:56px;" color="white"></i>
          <a href="/" class="link">Главная</a>
          <div class="store_info">
            <!-- <a href="room" class="link">Товары</a> -->
            <div class="logo">
              <h1 class="main__title">{{ctx_user.email}}</h1>
            </div>
          </div>
        </div>
        <div class="user_info">
          <div class="navs">
            {% if not ctx_user.is_anonymous %}
            <a href="/auths/profile" class="link">Профиль</a>
            <a href="/auths/log-out" class="link">Выйти</a>
            {% else %}
            <a href="/auths/" class="link">Войти</a>
            <a href="/auths/registration" class="link">Регистрация</a>
            {% endif %}

            {% if not ctx_user.is_anonymous %}
            <a href="cart" class="link">Корзина</a>
            {% else %}
            <a href="/auths/" class="link">Корзина</a>
            {% endif %}
            
          </div>
        </div>
        </div>
      </div>

    
      
      <div class="container">
        <div class="row">
          <div class="col-2">
            <ul class="" data-bs-popper="static">
              {% csrf_token %}

                <div>
                  {% for a in rooms_list %}
                  <li><a class="dropdown-item" data-room-id="{{ a.id }}" id="furniture{{ a.id }}" href="#">{{ a.title }}</a></li>
                  {% endfor %}
                </div>
            </ul>
          </div>
          <div class="col-lg-10">
            <div class="row" id="result">
              
              {% for i in furs %}
              <div class="card col-4" id="card">
                <div class="card-title">
                  <a href="#">
                    <img class="img-fluid" src="/media/{{ i.image }}" alt="" width: 300px !important;
                    height: 300px !important;>
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/production/{{ i.url }}">{{ i.title }}</a>
                  </h4>
                  <h5>{{ i.room }}</h5>
                  <p class="card-text">{{ i.price }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div> 
      </div> 
      
      
  
      <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="/static/js/main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
      
    </body>
    </html>