{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">   

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>


    <div class="header">
        <div class="header__controller">
          <div class="shop_info">
            <!-- <span class="iconify" data-icon="fa-solid:couch" data-flip="horizontal" 
            style="font-size:56px;" color="white"></span> -->
            <i class='fas fa-couch' style="font-size:56px;" color="white"></i>
            <a href="/" class="link">Главная</a>
            <div class="store_info">
              <!-- <a href="room" class="link">Товары</a> -->
              <div class="logo">
                <h1 class="main__title">{{ctx_user.email}}</h1>
              </div>
            </div>
          </div>
          <div class="user_info">
            <div class="navs">
              {% if not ctx_user.is_anonymous %}
              <a href="/auths/log-out" class="link">Выйти</a>
              {% else %}
              <a href="/auths/" class="link">Войти</a>
              <a href="/auths/registration" class="link">Регистрация</a>
              {% endif %}
            </div>
          </div>
          </div>
        </div>


    <section style="background-color: #ffffff;">
        <div class="main_stuff container py-5">
        
      
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3"> {{ctx_user.first_name}} {{ctx_user.last_name}} </h5>
                  <p class="text-muted mb-1"><a href="/auths/edit">Edit</a></p>
                  <div class="d-flex justify-content-center mb-2">
                    <a href="/auths/change-password">Change password</a>
                    
    
                  </div>
                </div>
              </div>
              <div class="card mb-4 mb-lg-0">
            
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"> {{ctx_user.first_name}} {{ctx_user.last_name}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ctx_user.email}}</p>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                      <p class="mb-4"><span class="text-primary font-italic me-1">Данные о корзине</span> 
                      </p>
                      <p class="mb-1" style="font-size: 22px; color: rgb(84, 158, 219);">  <a href="/cart">Корзина</a>  </p>
                      
                      </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                      <p class="mb-4"><span class="text-primary font-italic me-1">Данные об избранном</span> 
                      </p>
                      <p class="mb-1" style="font-size: 22px; color: rgb(84, 158, 219);">  <a href="#">Избранное</a>  </p>
                    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>







    <!-- <h1>Profile</h1>

    <span>Firstname: {{ ctx_user.first_name }}</span>
    <span>Lastname: {{ ctx_user.last_name }}</span>
    <span>Email: {{ ctx_user.email }}</span>

    <a href="/auths/edit">Edit</a>
    <a href="/auths/change-password">Change password</a> -->
</body>
</html>